<p>
  Anything documented in here is considered publicly available and
  finalized as far as semantic versioning is found.  If you find a
  method, funtion or feature that is not documented, please be
  prepared for the possibility of it being removed or changed without
  notice and without a major version change.
</p>

<p>
  More to come here.
</p>
