<h2>How to style guards</h2>

<p>
  After you have your forms guarded properly, the next step is to
  style the error messages and invalid fields.  This is made easier
  with classes added to the relevant fields.  An error message for a
  field that has a guard error will (by default) have the
  class <code>error-message</code>.  The field that triggered the
  guard error will (by default) have the
  class <code>invalid-field</code>.  Below is an example of how these
  classes can be used to style the guarded fields.
</p>

<h2>Programmatic styling</h2>

<p>
</p>
