/*@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);*/
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

html {
}

body {
  margin: 0;
  font-family: 'PT Sans', Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  /*color: #636566;*/
  color: #6A5546;
  background-color: #fff;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

header,
section,
footer {
  display: block;
}

a {
  color: #4D7A9D;
  color: #54BCEB;
  text-decoration: none;
}

a:hover {
  color: #779AC0;
  color: #a9ddf4;
}

strong {
  font-weight: 700;
}

ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 10px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

.clear-both {
  clear: both;
}

.transition-background {
  -moz-transition: background .25s; /* Firefox 4 */
  -webkit-transition: background .25s; /* Safari and Chrome */
  -o-transition: background .25s; /* Opera */
  transition: background .25s;
}

.top-bar,
.header-main,
.content,
.footer-main {
  max-width: 1024px;
  min-width: 960px;
  margin: 0 auto;
  position: relative;
}

/* TOP BAR */

.top-bar-wrapper {
  background: #3A5F80;
}

.top-bar {
  padding: 10px 0;
  position: relative;
}

.top-bar .logo {
}

.top-bar .logo a {
  width: 80px;
  height: 50px;
  display: block;
  background: url(../images/OS_logo_blue_for_color_base.png) 0 0 no-repeat;
}

.top-bar nav {
  position: absolute;
  top: 40px;
  right: 242px;
  z-index: 999;
}

.top-bar nav ul {
  list-style: none;
}

.top-bar nav ul li {
  display: inline-block;
  margin-left: 2px;
}

.top-bar nav ul li a {
  color: #DAEEFF;
  padding: 5px 7px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.top-bar nav ul li a:hover {
  background: #779AC0;
}

/* HEADER */

.header-main-wrapper {
  background: url(../images/bg-skyblue-grd.png) 0 0 repeat-x;
  position: relative;
}

.white-fence {
  width: 100%;
  height: 110px;
  position: absolute;
  bottom: 0;
  background: url(../images/white-fench.png) 0 0 repeat-x;
}

.header-main {
  width: 95%;
  height: 310px;
  position: relative;
}

.header-main .header-art {
  position: absolute;
  top: -52px;
  right: -98px;
  width: 474px;
  height: 378px;
  background: url(../images/tree.png) 0 0 no-repeat;
}

.header-main .header-art .bird {
  position: absolute;
  bottom: 173px;
  left: -4px;
  height: 125px;
  width: 130px;
  background: url(../images/bird-sprite.png) 0 0 no-repeat;
  z-index: 9999;
}

.header-main .header-art .shadow {
  position: absolute;
  bottom: 112px;
  left: 28px;
  height: 74px;
  width: 138px;
  background: url(../images/bird-shadow.png) 0 0 no-repeat;
  z-index: 999;
}

.header-main .header-art .overlapping-leaves {
  position: absolute;
  bottom: 92px;
  left: 0;
  height: 74px;
  width: 138px;
  background: url(../images/overlapping-leaves.png) 0 0 no-repeat;
  z-index: 999;
}

.header-main h1 {
  padding: 50px 0 0 0;
  margin-bottom: 0;
  font-size: 5em;
  font-weight: normal;
  color: #4B79A1;
}

.header-main aside {
  font-size: 1.3em;
  color: #4B79A1;
}

header p.view {
  display: none;
}

/*header.without-description h1 {
  margin: 10px 0;
}
header p {
  margin: 0;
  color: #61778B;
  width: 300px;
  font-size: 13px;
}
header p.view {
  display: none;
  font-weight: 700;
  text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
  -webkit-font-smoothing: antialiased;
}
header p.view a {
  color: #06c;
}
header p.view small {
  font-weight: 400;
}
header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 20px;
  height: 38px;
  padding: 1px 0;
  background: #5198DF;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #77b9fb), color-stop(100%, #3782cd));
  background: -webkit-linear-gradient(#77b9fb, #3782cd);
  background: -moz-linear-gradient(#77b9fb, #3782cd);
  background: -o-linear-gradient(#77b9fb, #3782cd);
  background: -ms-linear-gradient(#77b9fb, #3782cd);
  background: linear-gradient(#77b9fb, #3782cd);
  border-radius: 5px;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
  -o-box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
  box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
  width: 240px;
}
header ul:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: -5px;
  top: -4px;
  right: -5px;
  bottom: -6px;
  background: rgba(0, 0, 0, 0.1);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
}
header ul li {
  width: 79px;
  float: left;
  border-right: 1px solid #3A7CBE;
  height: 38px;
}
header ul li + li {
  width: 78px;
  border-left: 1px solid #8BBEF3;
}
header ul li + li + li {
  border-right: none;
  width: 79px;
}
header ul a {
  line-height: 1;
  font-size: 11px;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  text-align: center;
  font-weight: 400;
  padding-top: 6px;
  height: 40px;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
}
header ul a strong {
  font-size: 14px;
  display: block;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}*/

/* CONTENT */

.content {
  background: white;
}

.wizard-wrapper {
  width: 15%;
  float: left;
  margin-left: -10px;
}

.wizard ol {
  list-style-type: none;
}

.wizard li {
  margin-bottom: 2px;
  padding: 5px 5px 5px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.1em;
}

.wizard li a:hover {
  color: #54BCEB;
}

.wizard li:hover {
  background: #ebf0f6;/*background: #fef1da;*/
}

.wizard li,
.wizard li:hover {
  -moz-transition: background .25s; /* Firefox 4 */
  -webkit-transition: background .25s; /* Safari and Chrome */
  -o-transition: background .25s; /* Opera */
  transition: background .25s;
}

.wizard li:hover a {
}

.wizard li.current {
  background: #FBBC49;
}

.wizard li.current a {
  color: white;
  font-weight: normal;
}

.wizard-content {
  width: 80%;
  margin-left: 190px;
}

.wizard-content h1 {
  font-weight: normal;
  margin-bottom: 10px;
  /*color: #60688F;*/
  color: #3A5F80;
}

.wizard-content h2 {
  color: #4B79A3;
  margin: 20px 0 10px 0;
}

.paging {
  margin: 50px 0 0 0;
  padding: 10px 0;
  text-align: right;
}

.paging a {
  padding: 5px 7px;
  margin: 0 0 0 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #DAEEFF;
  color: #779AC0;
}

.paging a:hover {
  background: #779AC0;
  color: #DAEEFF;
}

.paging a,
.paging a:hover {
  -moz-transition: background .25s; /* Firefox 4 */
  -webkit-transition: background .25s; /* Safari and Chrome */
  -o-transition: background .25s; /* Opera */
  transition: background .25s;
}

/* FOOTER */

.footer-main-wrapper {
  background: #acb89f;
  margin-top: 20px;
}

.footer-main {
  padding: 15px 0 30px 0;
  color: #596649;
}

.footer-main .footer-art {
  position: absolute;
  top: -92px;
  left: 0;
  width: 180px;
  height: 180px;
  background: url(../images/footer-art.png) 0 0 no-repeat;
}

.footer-main nav {
  margin-left: 183px;
}

.footer-main nav ul {
  list-style: none;
}

.footer-main nav ul li {
  display: inline-block;
  margin-right: 2px;
}

.footer-main nav ul li a {
  color: #f3f4f1;
  padding: 5px 7px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.footer-main nav ul li a:hover {
  background: #80926C;
}

.footer-notes {
  margin: 14px 0 0 190px;
}

.footer-notes small {
  margin-right: 15px;
}

.footer-notes a {
  color: #4B79A3;
}

.footer-notes a:hover {
  color: #f3f4f1;
}


/*p,
ul,
ol,
table,
pre,
dl {
 margin: 0 0 20px;
}*/

/*h1,
h2,
h3 {
  line-height: 1.1;
}
*/

/*blockquote {
  margin: 0 -20px 20px;
  padding: 15px 20px 1px 40px;
  font-style: italic;
  background: #ccc;
  background: rgba(0, 0, 0, 0.06);
  color: #222;
}

img {
  max-width:100%;
}


code,
pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333;
  font-size: 12px;
}

pre {
  padding: 20px;
  background: #3A3C42;
  color: #f8f8f2;
  margin: 0 -20px 20px;
  overflow-x:auto;
}

pre code {
  color: #f8f8f2;
}

li pre {
  margin-left: -60px;
  padding-left: 60px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #aaa;
}

dt {
  color: #222;
  font-weight: 700;
}

th {
  color: #222;
}

small {
  font-size: 11px;
}

hr {
  border: 0;
  background: #aaa;
  height: 1px;
  margin: 0 0 20px;
}*/

/*footer {
  width: 640px;
  margin: 0 auto;
  padding: 20px 0 0;
  color: #ccc;
  overflow: hidden;
}

footer a {
  color: #fff;
  font-weight: bold;
}

footer p {
  float: left;
}

footer p + p {
  float: right;
}
*/


/* @media print, screen and (max-width: 740px) {

body {
  padding: 0;
}

.wrapper {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  width: 100%;
}

footer {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  padding: 20px;
  width: auto;
}

footer p {
  float: none;
  margin: 0;
}

footer p + p {
  float: none;
}
}
@media print, screen and (max-width:580px) {

header ul {
  display: none;
}

header p.view {
  display: block;
}

header p {
  width: 100%;
}
}
@media print {

header p.view a small:before {
  content: 'at http://github.com/';
}
}
*/
